@font-face {font-family: 'DroidArabicKufi';src: url('dkufir.woff') format('woff');}
@font-face {font-family: 'DroidArabicKufi';src: url('dkufib.woff') format('woff');font-weight: bold;}
@font-face {font-family: 'DroidArabicNaskh';src: url('dnaskhr.woff') format('woff');}
@font-face {font-family: 'DroidArabicNaskh';src: url('dnaskhb.woff') format('woff');font-weight: bold;}
@font-face {font-family: 'BYekan';src: url('byekan.woff') format('woff');}
@font-face {font-family: 'Verdana';src: url('verdana.woff') format('woff');}
@font-face {font-family: 'SultanAdan';src: url('sultanadan.woff') format('woff');}
@font-face {font-family: 'BKoodak';src: url('bkoodak.woff') format('woff');}
@font-face {font-family: 'BBardiya';src: url('bbardiya.woff') format('woff');}
@font-face {font-family: 'BEsfehan';src: url('besfehan.woff') format('woff');}
@font-face {font-family: 'BHelal';src: url('bhelal.woff') format('woff');}
@font-face {font-family: 'BMahsa';src: url('bmahsa.woff') format('woff');}
@font-face {font-family: 'BMitra';src: url('bmitra.woff') format('woff');}
@font-face {font-family: 'BMehr';src: url('bmehr.woff') format('woff');}
@font-face {font-family: 'BJadid';src: url('bjadid.woff') format('woff');}
@font-face {font-family: 'BHoma';src: url('bhoma.woff') format('woff');}
@font-face {font-family: 'BNasim';src: url('bnasim.woff') format('woff');}
@font-face {font-family: 'BNazanin';src: url('bnazanin.woff') format('woff');}
@font-face {font-family: 'BSina';src: url('bsina.woff') format('woff');}
@font-face {font-family: 'BTitr';src: url('btitr.woff') format('woff');}
@font-face {font-family: 'DastNevis';src: url('dastnevis.woff') format('woff');}
@font-face {font-family: 'ComicSansMS';src: url('comicsansms.woff') format('woff');}
@font-face {font-family: 'YekanIR';src: url('iryekan.woff') format('woff');}